:root {
  --first-color: hsl(231, 44%, 56%);
  --first-color-alt: hsl(231, 44%, 51%);
  --text-color: hsl(231, 12%, 98%);
  --body-color: hsl(231, 100%, 94%);
    --bg-color: #101010;
    --mouse-color:white;
    --bg-color-alt:#161616;
    --lines-color:#eeeeee2e;
    --color:white;
    --button-color:#ff6446;
    --text-color:rgb(207 207 207);
    --bg-backdrop: #2a2a2aa6;
    color: white;
}

body{
  cursor: none !important;
  overflow: auto;
  background: var(--bg-color);
}

a{
  cursor: none !important;
  position: relative;
}

input, label, .MuiButtonBase-root, textarea{
  cursor: none !important;
}

a:hover{
  text-decoration: none !important;
  .right-chevron{
    transform: translateX(5px);
  }
}

.right-chevron{
  transition: .5s cubic-bezier(.61,1,.88,1);
}

a.animate, a.animate-stay{
  width: fit-content;
  display: block;
  overflow: hidden;
}

a.animate:after{
  background-color: white;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  transition: transform .6s cubic-bezier(.61,1,.88,1);
  width: 100%;
  right: 100%;
}
a.animate:hover:after{
  transform: translateX(100%);
}

a.animate-stay:after{
  background-color: white;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  transition: transform .6s cubic-bezier(.61,1,.88,1);
  width: 100%;
}




.cursor {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
  z-index: 999999999999;
  mix-blend-mode: difference;
}

.cursor.is-clickable{
  width: 60px;
  height: 60px;
  background-color: #fffffff6;
  border: none;
}

.drawer-button{
  position: relative;
}

.drawer-button span:nth-child(1){
  width: 30px;
  height: 1px;
  background-color: white;
  display: block;
  position: absolute;
  top: 4px;
  right: 0px;
  transition: transform .2s cubic-bezier(.65,0,.25,1);
  transform: translate(-50%,-4px);
}

.drawer-button span:nth-child(2){
  width: 30px;
  height: 1px;
  background-color: white;
  display: block;
  position: absolute;
  top: 4px;
  right: 0px;
  transition: transform .2s cubic-bezier(.65,0,.25,1);
  transform: translate(-50%,4px);
}

.close-drawer{
  align-items: center;
  color: white;
  display: flex;
  height: 30px;
  justify-content: center;
  right: 10px;
  position: fixed;
  top: 10px;
  z-index: 105;
  width: 46px;
  transition: .4s cubic-bezier(.87,0,.13,1);
  transition-delay: 0.4s;
  font-family: 'Inconsolata', monospace;
}

.close-drawer span:nth-child(1){
  width: 22px;
  height: 1px;
  background-color: white;
  display: block;
  position: absolute;
  top: 15px;
  right: 0px;
  transform: translate(-50%) rotate(-45deg);
}

.close-drawer span:nth-child(2){
  width: 22px;
  height: 1px;
  background-color: white;
  display: block;
  position: absolute;
  top: 15px;
  right: 0px;
  transform: translate(-50%) rotate(45deg);
}

.drawer{
  max-width: 689px;
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 99999;
  visibility: visible;
  pointer-events: none;
  
  .close-drawer{
    opacity: 0;
  }

  ul li{
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(.87,0,.13,1);
    opacity: 0;
    font-size: 46px;
    font-weight: 400;
  }

  .footer, .menu, .social{
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.87,0,.13,1);
    transition-duration: 0.2s;
  }
}

.close-text-drawer{
  transition: 0.5s;
  transform: translateY(-120%);
}

.open-text-drawer{
  transition: 0.5s;
  transform: translateY(100%);
}

.close-text-drawer,.open-text-drawer{
  font-family: 'Inconsolata', monospace;
  font-size: 22px;
}

.close-text-drawer.close{
  transform: translateY(-20%);
}

.open-text-drawer.open{
  transform: translateY(-120%);
}

.content-image-button::-webkit-scrollbar{
  display: none;
}

.backdrop{
  background-color: transparent;
  -webkit-transition: background-color 0.6s linear;
  -ms-transition: background-color 0.6s linear;
  transition: background-color 0.6s linear;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.drawer.open{
  opacity: 1;
  pointer-events: all;
  .close-drawer{
    opacity: 1;
  }

  ul li{
    transition-property: opacity ;
    opacity: 1;
    transition-duration: 0.6s !important;
  }

  .menu, .social{
    opacity: 0.5;
  }

  .footer{
    opacity: 1 !important;
  }

  .email-get-in-touch{
    opacity: 1 !important;
  }

  .backdrop{
    background-color: var(--bg-backdrop);
    pointer-events: all;
  }

  .footer, .menu, .social{
    transition-duration: 0.6s !important;
  }
}

.content-drawer-button.open span:nth-child(1){
  transform: translate(-50%) rotate(-45deg);
  width: 22px;
}

.content-drawer-button.open span:nth-child(2){
  transform: translate(-50%) rotate(45deg);
  width: 22px;
}

.drawer-bg{
  transition: transform .4s;
  transition-delay: 0.4s;
}

.drawer-bg{
  transform: translateX(689px)
}

.drawer.open{
  .drawer-bg{
    transform: unset !important;
  }
  pointer-events: unset;
}

.drawer-bg{
    background-color: var(--bg-color);
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform-origin: left center;
    width: 100%;
    z-index: 1;
}

h1{
    font-size: 50px;
    position: relative;
}

.bg-alt{
    background-color: var(--bg-color-alt);
}

.title{
    position: relative;
    z-index: 1;
}

.about-me-info {
    font-size: 14px;
    line-height: 1.4;
}

.experiences-list .experiences-list-block {
  border-top: 2px solid;
  padding-bottom: 50px;
  position: relative;
  padding-top: 20px;
}

.experiences-list-block-title {
    text-transform: uppercase;
    color: var(--color);
    font-size: 18px;
    line-height: 20px;
    font-weight: 800;
    padding-bottom: 5px;
}

.experiences-list-block-date {
    font-size: 13px;
    line-height: 20px;
    color: var(--color);
    padding-bottom: 10px;
    margin: 0;
}

.experiences-list-block-info {
    font-size: 16px;
    line-height: 20px;
    color: var(--color);
    margin: 0;
}

.next-screen{
    padding-top: 40px;
    padding-bottom: 40px;
}


h1.desc-me, .desc-me{
  line-height: 1.32;
  transform: translateY(105%);
}


.app-bar{
  margin: 0 auto;
  padding: 15px 45px;
  position: relative;
  z-index: 100;
  align-items: self-start;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-height: 74px;
  overflow: hidden;
}

.logo-container{
  position: relative;
  transition: all ease 0.4s;
}

.logo-container.show{
  transform: translateY(0%);
}

.logo-container.hide{
  transform: translateY(-130%);
}

.logo-container.alt.show{
  transform: translateY(-150%);
}

.logo-container.alt.hide{
  transform: translateY(60%);
}

.logo-container h2{
    font-size: 22px;
    cursor: none;
    color: var(--color);
    line-height: 1;
    position: relative;
    font-family: 'Inconsolata', monospace;
}

.logo-container h2:first-child:before{
  position: absolute;
  display: block;
  width: 30px;
  background-color: white;
  height: 1px;
  right: -35px;
  content: "";
  bottom: 4px;
}

.f-height{
    height: 100vh;
}

.about{
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.flex-container{
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

button{
  padding: 10px 15px;
  border-radius: 18px;
  border: 0;
  outline: none;
  color: white;
  cursor: none;
  transition: all ease 0.4s;
}

button:hover{
  color: black;
  background-color: white;
}

.image-me{
    position: relative;
    padding-bottom: 100%;
}

.about-img {
    position: absolute;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.screen-padding{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

ul{
    padding: 0;
    list-style: none;
}

.nav{
    display: flex;
}

.nav .nav-item:not(:first-child){
    margin-left: 4rem;
}

.nav .nav-item, .nav-item{
    cursor: none;
    position: relative;
    font-weight: 400;
    color: var(--color);
}

.nav-item.active::after{
    content : "";
    display: block;
    width: 18px;
    height: 3px;
    background: #ff6446;
    position: absolute;
    bottom: -15px;
    left: 0;
    border-radius: 999999px;
    transition: all ease-in 0.4s;
}

.no-pd-top{
    padding-top: 0;
}

.no-pd-bot{
    padding-bottom: 0;
}

.bottom-bar-icons{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 1;
}

.bottom-bar-icons i{
    font-size: 21px;
}

.bottom-bar-icons i:not(:first-child){
    margin-left: 15px;
}

.normal{
    transition: 0.5s;
}

.active-background{
    background: var(--active-background);
    transition: 0.5s;
}

.mouse {
    width: 26px;
    height: 39px;
    border: 3px white solid;
    border-radius: 50px;
    position: relative;
    cursor: none;
}

.scroller {
  position: absolute;
  height: 10px;
  width: 10px;
  left: 50%;
  top : 15px;
  transform: translateX(-50%);
  border-radius: 50px;
  background-color: white;
  animation : backAndForth 3.5s infinite ease-out;
}

@keyframes backAndForth {
  20% {
   top: 15px; 
  }
  60%, 80% {
   top: 25px; 
  }
  90% {
   top: 15px; 
  }
}

.theme-switcher{
    cursor: none;
    padding: 1rem;
    position: relative;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.planet {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    background:
      radial-gradient(3.75em, 99%, transparent 100%);
    background-color: var(--bg-planet-bright);
    background-repeat: no-repeat;
    position: relative;
    will-change: background;
    transition: all 400ms ease;
    /* Safari transition issue */
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    
    &::after {
      content: "";
      background-color: var(--bg-planet-shadow);
      width: 2rem;
      height: 2rem;
      position: absolute;
      border-radius: 50%;
      will-change: opacity, transform, background-color;
      opacity: 0;
      transform: translate(2em, -2em);
      transition: opacity 400ms ease, transform 400ms ease, background-color 400ms ease;
    }
  }

  .elements {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 400ms ease;

    svg {
      position: absolute;
      width: 7px;
      height: 7px;
      opacity: 1;
      transition: transform 400ms ease, opacity 200ms ease, width 200ms ease, height 200ms ease;
      circle {
        fill: var(--bg-planet-bright);
        transition: fill 400ms ease;
      }
      &:first-child {
        transform: translate(1.8em, 0.35em);
      }
      &:nth-child(2) {
        transform: translate(2.8em, 0.7em);
      }
      &:nth-child(3) {
        transform: translate(3.2em, 1.8em);
      }
      &:nth-child(4) {
        transform: translate(2.8em, 2.8em);
      }
      &:nth-child(5) {
        transform: translate(1.8em, 3.2em);
      }
      &:nth-child(6) {
        transform: translate(0.7em, 2.8em);
      }
      &:nth-child(7) {
        transform: translate(0.35em, 1.8em);
      }
      &:nth-child(8) {
        transform: translate(0.7em, 0.7em);
      }
    }
  }

  .bg-dark .planet {
    --bg-planet-bright: #D7D7D8;

    &::after {
      opacity: 1;
      transform: translate(0.6em, -0.5em);
    }
  }

  .bg-dark .elements {
    transform: rotate(180deg);

    svg {
      &:first-child {
        transform: translate(2em, 1em);
        opacity: 0;
      }
      &:nth-child(2) {
        transform: translate(3em, 1.5em);
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translate(3em, 2em);
        opacity: 0;
      }
      &:nth-child(4) {
        transform: translate(3em, 2em);
        opacity: 0;
      }
      &:nth-child(5) {
        transform: translate(1.9em, 2.6em);
        width: 0.3em;
        height: 0.3em;
        circle {
          fill: var(--bg-planet-lightshadow);
        }
      }
      &:nth-child(6) {
        transform: translate(1.4em, 2.5em);
        width: 0.3em;
        height: 0.3em;
        circle {
          fill: var(--bg-planet-lightshadow);
        }
      }
      &:nth-child(7) {
        transform: translate(1.1em, 1.6em);
        width: 0.7em;
        height: 0.7em;
        circle {
          fill: var(--bg-planet-lightshadow);
        }
      }
      &:nth-child(8) {
        width: 0.45em;
        height: 0.45em;
        transform: translate(1.7em, 2.1em);
        circle {
          fill: var(--bg-planet-lightshadow);
        }
      }
    }
  }

  .lets-talk-2019 {
    background-color:#000000;
    margin: 0;
    color: #cdcbdf;
}
.lets-talk {
    position: relative;
    height: 100vh;
}

.lets-talk-2019 h4 {
  color: #fff;
  font-size: 55px;
  line-height: 1.48;
  letter-spacing: 0.5px;
  margin: 0 0 20px;
}

.lets-talk-2019 .text-content {
  max-width: 525px;
}

.footer a, .footer p {
  letter-spacing: .2px;
}

.footer .contact-item label {
  position: absolute;
  left: 0;
  margin: 2px 0 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.footer .contact-item {
  max-width: 360px;
  padding-left: 30px;
  line-height: 1.63;
  margin-bottom: 30px;
}

.footer .contact-item {
  padding-left: 0px;
  margin-bottom: 20px;
  position: relative;
}

.footer .copyright {
  text-align: left;
  color: rgba(255,255,255,0.5);
  font-size: 14px;
  line-height: 14px;
}

.footer .foot-social ul li, .footer .foot-about ul li{
  width: -webkit-calc(33.33% - 30px);
  width: -moz-calc(33.33% - 30px);
  width: calc(33.33% - 30px);
  height: auto;
  padding: 18px 0;
  margin: 15px;
  opacity: 1;
  text-align: left;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  color:white;
}

.btn-foot {
  text-transform: initial;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  padding: 23px 30px 21px;
  letter-spacing: 0.4px;
  border-radius: 99999px;
  box-shadow: none;
  color: #fff;
  border: 1px solid #2e2e2e;
  min-width: 233px;
  margin-left: auto;
  margin-right: 100px;
  transition: all ease 0.4s;
}

.btn-foot:hover{
  background-color: white;
  color: black;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 16px;
  display: none;
}

/* Track */
.custom-scroll-bar::-webkit-scrollbar-track {
  background: #101010;
}
 
/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #343434;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}

.input{
  padding: 21px 0;
  font-size: 35px;
  position: relative;
  margin: 0;
  padding: 15px 0;
  width: 100%;
  z-index: 1;
  color: white;
  background: 0 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: 0;
  resize: none;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -.03em;
  line-height: 100%;
  -webkit-transition: all .3s,height 0s;
  -o-transition: all .3s,height 0s;
  -moz-transition: all .3s,height 0s;
  transition: all .3s,height 0s;
  border-bottom: 1px solid #505050;
}

.input:hover {
  cursor: text;
  border-bottom: 1px solid #ffffff !important;
}

.input:focus {
  cursor: text;
  border-bottom: 1px solid #ffffff !important;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.scroll-down {
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

article img{
  transition: all ease 0.4s;
}

article:hover img{
  transform: translateY(-20px);
}


article{
  img, svg{
    transition: all ease 0.4s;
  }  
}

article:hover{
 img{
  transform: translateY(-20px);
}

svg{
  transform:translateX(10px)
}

}

article{
  padding: 15px;
  border-radius: 10px;
  transition: all ease 0.4s;
}

article:hover{
  background-color: #101010;
}

.article-content  {
  max-width: 800px;
  margin: auto;

  p{
    margin: 15px 0px;
    max-width: 1000px;
  }

  img{
    max-height: 500px !important;
    max-width: 800px;
    margin: auto !important;
    object-fit: contain;
  }

  .download p{
    max-width: 100% !important;
  }

}
.article-content ul{
  margin-left: 20px;
}

.article-content ul li{
  list-style: unset;
  display: list-item;
}

.js-scroll{
  transition: all 400ms cubic-bezier(.4,0,.2,1);
  cursor: none;
}

.js-scroll::before {
  position: absolute;
  left: 0;
  top: -33px;
  font-size: 3em;
  margin-right: 24px;
}

.js-scroll span {
  position: relative;
  top: 0;
  margin-left: 20px;
}

.js-scroll:hover::after{
  transform: scale(1.3);
  background:white;
  color: black;
}

.modal-backdrop{
  background-color: var(--bg-backdrop);
}

.input-error:hover {
  cursor: text;
  box-shadow: 0 0 0 0.2rem #e4305247 !important;
  background-color: #e4305229 !important;
}

.input-error:focus {
  cursor: text;
  box-shadow: 0 0 0 0.2rem #e4305247 !important;
  border: 1px solid #e43052 !important;
  background-color: #e4305229 !important;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 99;
}

.background-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #101010;
  height: 100vh;
}

.menu-toggle svg{
  filter: invert(1);
}

.menu-toggle {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: none;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.nav-ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: none;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

.slick-track{
  display: flex !important;
  align-items: center;
  gap: 10px;
}

@media (max-width: 767px){
  .lets-talk:before{
    max-width: 100% !important;
  }
  .lets-talk-2019 .btn-foot{
    margin-left:unset !important;
  }
  .lets-talk-2019 h4{
    font-size: 30px;
  }
  .custom-modal{
    max-width: 390px !important;
  }
}

.lets-talk-2019 i{
  transition: 0.3s;
}

.lets-talk-2019 button:hover i{
  transform: translateX(20px);
}

.skills-slider-content:hover{
  .slider-button{
    touch-action: initial;
    user-select: none;
    opacity: 1;
  }
}

.slider-button{
  display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    touch-action: none;
    user-select: none;
}


.slider-button.button-left{
  left: 20px;
  cursor: none;
}

.slider-button.button-right{
  right: 20px;
  cursor: none;
}

.button-left div,.button-right div{
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-left div:hover,.button-right div:hover{
      background-color: white;
      transform: scale(1.3);
      color: black;
  }

  .skills-slider-content img{
    width: 150px;
    height: 150px ;
    object-fit: contain;
  }

  ::selection {
    color: black;
    background-color: white;
}

.big-modal-container{
  background-color: white;
  height: 95vh;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 999999;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.backdrop.open{
  background-color: var(--bg-backdrop);
  pointer-events: all;
}

.hide-scroll::-webkit-scrollbar{
  display: none;
}

.close-big-modal span{
  transition: all ease 0.4s;
  transform: translateX(50px);
}

.close-big-modal:hover{
  width: 100px !important;
}

.close-big-modal:hover span{
  transform: translateX(17px);
}

.close-big-modal::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 1.5rem;
  background: black;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all ease 0.4s;
}

.close-big-modal::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 1.5rem;
  background: black;
  transform: translate(-50%, -50%) rotate(225deg);
  transition: all ease 0.4s;
}

.close-big-modal:hover::after{
  transform: translate(-150%, -50%) rotate(-225deg);
}

.close-big-modal:hover::before{
  transform: translate(-150%, -50%) rotate(45deg);
}

.close-big-modal{
  transition: all ease 0.4s;
}

.close-big-modal:hover span{
  width: auto;
}

.footer-container .content-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  padding: 60px 0;
}

.footer-container .interest{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0 180px;
}

.input-container{
  position: relative;
}

.textarea-container{
  position: relative;
}

.textarea-container label{
  font-weight: normal;
  color: var(--text-color);
  position: absolute;
  bottom: 47px;
  font-size: 32px;
}

.input-container label{
  font-weight: normal;
    color: var(--text-color);
    position: absolute;
    bottom: 5px;
    font-size: 32px;
}

.loading{
  opacity: 0.6;
}

.loading::after {
  display: inline-block;
  animation: dotty steps(1,end) 1.5s infinite;
  content: '';
}

@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}