:root {
  .bg-dark {
    --bg-color: #101010;
    --mouse-color:white;
    --bg-color-alt:#161616;
    --lines-color:#eeeeee2e;
    --color:white;
    --button-color:#ff6446;
    --text-color:rgb(207 207 207);
    --bg-backdrop: #2a2a2a78;
    color: white;
  }
}


.App{
  background: var(--bg-color);
  transition: 0.5s;
}

// .about:after {
//     content: ' ';
//     position: absolute;
//     height: 180px;
//     bottom: -67px;
//     left: 0;
//     right: 0;
//     background: var(--bg-color-alt);
//     transform: skewY(-5deg);
//     -webkit-transform: skewY(-3deg);
//     -moz-transform: skewY(-3deg);
//     -ms-transform: skewY(-3deg);
//     -o-transform: skewY(-3deg);
//     z-index: 0;
//     width: 100%;
// }

h1{
    font-size: 50px;
    position: relative;
}

.bg-alt{
    background-color: var(--bg-color-alt);
}

.title{
    position: relative;
    z-index: 1;
}

.about-me-info {
    font-size: 14px;
    line-height: 1.4;
}

.experiences-list .experiences-list-block {
  border-top: 2px solid;
  padding-bottom: 50px;
  position: relative;
  padding-top: 20px;
}

.experiences-list-block-title {
    text-transform: uppercase;
    color: var(--color);
    font-size: 18px;
    line-height: 20px;
    font-weight: 800;
    padding-bottom: 5px;
}

.experiences-list-block-date {
    font-size: 13px;
    line-height: 20px;
    color: var(--color);
    padding-bottom: 10px;
    margin: 0;
}

.experiences-list-block-info {
    font-size: 16px;
    line-height: 20px;
    color: var(--color);
    margin: 0;
}

.next-screen{
    padding-top: 40px;
    padding-bottom: 40px;
}


h1.desc-me{
  line-height: 1.32;
}

.desc-me::before,.title::before{
    content: '';
    display: block;
    width: 50px;
    background: #ff6446;
    height: 8px;
    position: absolute;
    top: -15px;
    border-radius: 9999px;
}

.app-bar{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 80px;
    max-width: 1440px;
    position: relative;
    z-index: 100;
    align-items: center;
    display: flex;
}

.logo-container h2{
    font-family: 'Molle', cursive;
    font-size: 30px;
    cursor: pointer;
    color: var(--color);
}

.f-height{
    height: 100vh;
}

.about{
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.flex-container{
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

button{
    padding: 10px 15px;
    border-radius: 18px;
    border: 0;
    outline: none;
    background: var(--button-color);
    color: white;
    cursor: pointer;
}

.image-me{
    position: relative;
    padding-bottom: 100%;
}

.about-img {
    position: absolute;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.screen-padding{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

ul{
    padding: 0;
    list-style: none;
}

.nav{
    display: flex;
}

.nav .nav-item:not(:first-child){
    margin-left: 4rem;
}

.nav .nav-item, .nav-item{
    cursor: pointer;
    position: relative;
    font-weight: 400;
    color: var(--color);
}

.nav-item.active::after{
    content : "";
    display: block;
    width: 18px;
    height: 3px;
    background: #ff6446;
    position: absolute;
    bottom: -15px;
    left: 0;
    border-radius: 999999px;
    transition: all ease-in 0.4s;
}

.no-pd-top{
    padding-top: 0;
}

.no-pd-bot{
    padding-bottom: 0;
}

.bottom-bar-icons{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.bottom-bar-icons i{
    font-size: 21px;
}

.bottom-bar-icons i:not(:first-child){
    margin-left: 15px;
}

.normal{
    transition: 0.5s;
}

.active-background{
    background: var(--active-background);
    transition: 0.5s;
}

.mouse {
    width: 26px;
    height: 39px;
    border: 3px white solid;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.scroller {
  position: absolute;
  height: 10px;
  width: 10px;
  left: 50%;
  top : 15px;
  transform: translateX(-50%);
  border-radius: 50px;
  background-color: white;
  animation : backAndForth 3.5s infinite ease-out;
}

@keyframes backAndForth {
  20% {
   top: 15px; 
  }
  60%, 80% {
   top: 25px; 
  }
  90% {
   top: 15px; 
  }
}

.theme-switcher{
    cursor: pointer;
    padding: 1rem;
    position: relative;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.planet {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    background:
      radial-gradient(3.75em, 99%, transparent 100%);
    background-color: var(--bg-planet-bright);
    background-repeat: no-repeat;
    position: relative;
    will-change: background;
    transition: all 400ms ease;
    /* Safari transition issue */
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    
    &::after {
      content: "";
      background-color: var(--bg-planet-shadow);
      width: 2rem;
      height: 2rem;
      position: absolute;
      border-radius: 50%;
      will-change: opacity, transform, background-color;
      opacity: 0;
      transform: translate(2em, -2em);
      transition: opacity 400ms ease, transform 400ms ease, background-color 400ms ease;
    }
  }

  .elements {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 400ms ease;

    svg {
      position: absolute;
      width: 7px;
      height: 7px;
      opacity: 1;
      transition: transform 400ms ease, opacity 200ms ease, width 200ms ease, height 200ms ease;
      circle {
        fill: var(--bg-planet-bright);
        transition: fill 400ms ease;
      }
      &:first-child {
        transform: translate(1.8em, 0.35em);
      }
      &:nth-child(2) {
        transform: translate(2.8em, 0.7em);
      }
      &:nth-child(3) {
        transform: translate(3.2em, 1.8em);
      }
      &:nth-child(4) {
        transform: translate(2.8em, 2.8em);
      }
      &:nth-child(5) {
        transform: translate(1.8em, 3.2em);
      }
      &:nth-child(6) {
        transform: translate(0.7em, 2.8em);
      }
      &:nth-child(7) {
        transform: translate(0.35em, 1.8em);
      }
      &:nth-child(8) {
        transform: translate(0.7em, 0.7em);
      }
    }
  }

  .bg-dark .planet {
    --bg-planet-bright: #D7D7D8;

    &::after {
      opacity: 1;
      transform: translate(0.6em, -0.5em);
    }
  }

  .bg-dark .elements {
    transform: rotate(180deg);

    svg {
      &:first-child {
        transform: translate(2em, 1em);
        opacity: 0;
      }
      &:nth-child(2) {
        transform: translate(3em, 1.5em);
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translate(3em, 2em);
        opacity: 0;
      }
      &:nth-child(4) {
        transform: translate(3em, 2em);
        opacity: 0;
      }
      &:nth-child(5) {
        transform: translate(1.9em, 2.6em);
        width: 0.3em;
        height: 0.3em;
        circle {
          fill: var(--bg-planet-lightshadow);
        }
      }
      &:nth-child(6) {
        transform: translate(1.4em, 2.5em);
        width: 0.3em;
        height: 0.3em;
        circle {
          fill: var(--bg-planet-lightshadow);
        }
      }
      &:nth-child(7) {
        transform: translate(1.1em, 1.6em);
        width: 0.7em;
        height: 0.7em;
        circle {
          fill: var(--bg-planet-lightshadow);
        }
      }
      &:nth-child(8) {
        width: 0.45em;
        height: 0.45em;
        transform: translate(1.7em, 2.1em);
        circle {
          fill: var(--bg-planet-lightshadow);
        }
      }
    }
  }

  .lets-talk-2019 {
    background-color: var(--bg-color);
    margin: 0;
    color: #cdcbdf;
}
.lets-talk {
    position: relative;
    padding: 100px 0 10px;
    margin-bottom: -145px;
    z-index: 10;
}

.lets-talk-2019::before {
  background-color: #221e41;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0;
  max-width: calc(100% - 40px);
  left: 0;
  right: initial;
  box-shadow: none;
}

.lets-talk:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  max-width: calc(100% - 40px);
  background: var(--bg-color-alt);
}

.lets-talk-2019 h4 {
  color: #fff;
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.5px;
  margin: 0 0 20px;
}

.lets-talk-2019 .text-content {
  max-width: 410px;
}

.footer a, .footer p {
  letter-spacing: .2px;
}

.footer .contact-item, .footer p, .footer a {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
}

.footer .contact-item label {
  position: absolute;
  left: 0;
  margin: 2px 0 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.footer .contact-item {
  max-width: 360px;
  padding-left: 30px;
  line-height: 1.63;
  margin-bottom: 30px;
}

.footer .contact-item {
  padding-left: 26px;
  margin-bottom: 20px;
  position: relative;
}

.footer .menu li a {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin: 12px 0;
  padding: 0;
  letter-spacing: 0.2px;
}

.footer .copyright {
  text-align: left;
  margin-top: 65px;
  color: rgba(255,255,255,0.5);
  font-size: 14px;
  line-height: 14px;
}

.lets-talk-2019 .btn-foot {
  text-transform: initial;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  padding: 23px 30px 21px;
  letter-spacing: 0.4px;
  border-radius: 15px;
  box-shadow: none;
  color: #fff;
  border: none;
  min-width: 233px;
  margin-left: auto;
  margin-right: 100px;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 16px;
}

/* Track */
.custom-scroll-bar::-webkit-scrollbar-track {
  background: #101010;
}
 
/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #ff6446;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}

.input{
  outline: none;
  border: none;
  background: #bfbfbf40;
  width: 100%;
  padding: 13px 20px 13px 20px;
  border-radius: 15px !important;
  transition: 0.2s;
  font-size: 15px;
}

.input:hover {
  cursor: text;
  box-shadow:0 0 0 0.2rem #6d359f8c !important;
  background-color: #bfbfbf5c !important;
}

.input:focus {
  cursor: text;
  box-shadow:0 0 0 0.2rem #6d359f8c !important;
  background-color: #bfbfbf5c !important;
  border: 1px solid #aa4bff !important;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.about-img, .scroll-down {
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

article img{
  transition: all ease 0.4s;
}

article:hover img{
  transform: translateY(-20px);
}


article{
  img, svg{
    transition: all ease 0.4s;
  }  
}

article:hover{
 img{
  transform: translateY(-20px);
}

svg{
  transform:translateX(10px)
}

}

article{
  padding: 15px;
  border-radius: 10px;
  transition: all ease 0.4s;
}

article:hover{
  background-color: #101010;
}

.article-content  {
  max-width: 800px;
  margin: auto;

  p{
    margin: 15px 0px;
    max-width: 1000px;
  }

  img{
    max-height: 500px !important;
    max-width: 800px;
    margin: auto !important;
    object-fit: contain;
  }

  .download p{
    max-width: 100% !important;
  }

}
.article-content ul{
  margin-left: 20px;
}

.article-content ul li{
  list-style: unset;
  display: list-item;
}

.js-scroll{
  transition: all 400ms cubic-bezier(.4,0,.2,1);
  cursor: pointer;
}

.js-scroll::before {
  position: absolute;
  left: 0;
  top: -33px;
  font-size: 3em;
  margin-right: 24px;
}

.js-scroll span {
  position: relative;
  top: 0;
  margin-left: 20px;
}

.js-scroll::after {
  content: '';
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  bottom: -6px;
  left: -9px;
  border-radius: 100%;
  border: 1px solid var(--text-color);
  transition: all 400ms cubic-bezier(.4,0,.2,1);
  z-index: 1;
  cursor: pointer;
}

.js-scroll:hover::after{
  transform: scale(1.3);
  background:#ff6446;
}

.modal-backdrop{
  background-color: var(--bg-backdrop);
  backdrop-filter: blur(5px);
}

.input-error:hover {
  cursor: text;
  box-shadow: 0 0 0 0.2rem #e4305247 !important;
  background-color: #e4305229 !important;
}

.input-error:focus {
  cursor: text;
  box-shadow: 0 0 0 0.2rem #e4305247 !important;
  border: 1px solid #e43052 !important;
  background-color: #e4305229 !important;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 99;
}

.background-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #101010;
  height: 100vh;
}

.menu-toggle svg{
  filter: invert(1);
}

.menu-toggle {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.nav-ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slick-track{
  display: flex !important;
  align-items: center;
  gap: 10px;
}

@media (max-width: 767px){
  .lets-talk:before{
    max-width: 100% !important;
  }
  .lets-talk-2019 .btn-foot{
    margin-left:unset !important;
  }
  .lets-talk-2019 h4{
    font-size: 30px;
  }
  .custom-modal{
    max-width: 390px !important;
  }
}

.lets-talk-2019 i{
  transition: 0.3s;
}

.lets-talk-2019 button:hover i{
  transform: translateX(-20px);
}

.skills-slider-content:hover{
  .slider-button{
    touch-action: initial;
    user-select: none;
    opacity: 1;
  }
}

.slider-button{
  display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    touch-action: none;
    user-select: none;
}


.slider-button.button-left{
  left: 20px;
  cursor: pointer;
}

.slider-button.button-right{
  right: 20px;
  cursor: pointer;
}

.button-left div,.button-right div{
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-left div:hover,.button-right div:hover{
      background-color: #ff6446;
      transform: scale(1.3);
  }

  .skills-slider-content img{
    width: 150px;
    height: 150px ;
    object-fit: contain;
  }
