@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif !important;
  background-color: #101010;
}

html,#root, .App{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
