body {
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif !important;
}

html,#root, .App{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
